Repository parkervcp/eggs, pull requests merged in 2021-07, with the labels that each got.

#1210 Add VIAaaS egg and close #1207
  README.md
  minecraft/README.md
  minecraft/proxy/README.md
  minecraft/proxy/java/README.md
  minecraft/proxy/java/viaaas/README.md
  minecraft/proxy/java/viaaas/egg-v-i-aaa-s.json
Labels: new egg, please correct

#1219 patch: bedrock latest version fetching
  minecraft/bedrock/bedrock/egg-vanilla-bedrock.json
Labels: Verify Fix

#1231 Add Prometheus egg
  README.md
  monitoring/prometheus/README.md
  monitoring/prometheus/egg-prometheus.json
Labels: new egg

#1232 Add Gitea egg to repository
  README.md
  software/gitea/README.md
  software/gitea/egg-gitea.json
Labels: needs testing, new egg

#1266 Add Airplane Minecraft server jar egg
  README.md
  game_eggs/README.md
  game_eggs/minecraft/README.md
  game_eggs/minecraft/java/README.md
  game_eggs/minecraft/java/airplane/README.md
  game_eggs/minecraft/java/airplane/egg-airplane.json
Labels: needs testing, new egg, please correct
